# NPM
node_modules
npm-debug.log

# Impress
/log/
*.log
*.done

# Development files
/.idea/
.*.swp

# OS-specific
.DS_Store

# Build files
/applications/messenger/client/build/
/applications/messenger/static/
webpack-assets.json
