# NPM
node_modules
npm-debug.log

# Impress
/log/
*.log
*.done

# Development environments files
/.idea/
.*.swp

# OS-specific
.DS_Store

# Build files
/applications/messenger/www/html.template
/applications/messenger/client/build/
/applications/messenger/static/*
!/applications/messenger/static/favicon.ico
webpack-assets.json

# Deployment script
/deploy.sh
